html {
  font-size: 62.5%;
}

.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.input-container {
  display: flex;
  width: 25%;
}

.input {
  flex: 1;
  margin: 1rem;
}

.button-container {
  margin: 1rem;
  padding: 2rem 2rem;
  text-align: center;
}

.button {
  display: inline-block;
  margin-right: 1rem;
  padding: 0.5rem 0.5rem;
  vertical-align: middle;
}

.error {
  color: red;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: .8rem;
}

tr:nth-child(even) {
  background-color: #dddddd;
}